<div class="card">
  <div class="card-header">Usuarios del sistema</div>
  <div class="card-body">
    <input (keyup)="applyFilter($event)" placeholder="Ingrese el dato a buscar" #input type="text" id="filtro" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" required />
    <div class="scroll">
      <table mat-table [dataSource]="usuarios" class="mat-elevation-z8 table-auto scroll">
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef>Dni</th>
          <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="fechaNac">
          <th mat-header-cell *matHeaderCellDef>Fecha Nac.</th>
          <td mat-cell *matCellDef="let element">{{ element.fe_nacimiento }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="habilitado">
          <th mat-header-cell *matHeaderCellDef>Habilitado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deshabilitado ? 'Inhabilitado' : 'habilitado' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let element">
            <div class="flex flex-row">
              <button (click)="element.deshabilitado ? habilitar(element.id) : inhabilitar(element.id)" [class]="element.deshabilitado ? 'text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400' : 'text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400'">
                @if (element.deshabilitado) {
                  <i class="fa-solid fa-check"></i>
                } @else {
                  <i class="fa-solid fa-xmark"></i>
                }
              </button>
              <button (click)="resetarContrasenia(element)" class="ms-2 text-white bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400'">
              <i class="fa-solid fa-arrow-rotate-right"></i>
            </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center font-bold text-blue-800 text-xl" [attr.colspan]="displayedColumns.length">
            @if (searching) {
              <div role="status " class="my-2 flex justify-center">
                <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                </svg>
              </div>
            } @else {
              <p class="py-5">
                {{ input.value ? "No encontro informaciónn '" + input.value + "'" : 'No encontro información.' }}
              </p>
            }
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
  </div>
</div>
