<!-- Aca faltaria un mensaje de errro en el caso de que el id del chico no este en la bd pero sea valido -->
<div class="card">
  @if (chico) {
    <div class="card-header">
      <div class="flex justify-between items-center">
        <div>
          <button *ngIf="esEditor" [pTooltip]="'Editar'" tooltipPosition="bottom" style="color: #ffffff" aria-label="Botón de editar chico" (click)="chico.deshabilitado ? notificar(chico.id) : editarChico(chico.id); $event.stopPropagation()" class="'text-white bg-sky-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto py-1 px-2 text-center -700 -800 disabled:bg-gray-400'">
            <i class="fa-solid fa-pencil" style="color: #ffffff"></i>
          </button>
          Datos personales de {{ chico.apellido + ' ' + chico.nombre }}
        </div>
        <div class="">
          <button type="button" (click)="volver()" class="flex my-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Volver</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="layout-container flex h-full grow flex-col">
        <div class="layout-content-container flex flex-col w-full flex-1">
          @if (chico) {
            <app-datos-personales [chico]="chico" [resultsLength]="resultsLength" [searchingConsultas]="searchingConsultas" />
          }
          @if (resultsLength > 0) {
            <h3 class="text-black text-lg sm:text-xl font-bold leading-tight tracking-tight break-words max-w-full px-2 sm:px-4 pb-2 pt-4">Historial de consultas</h3>

            <h4 class="text-black font-bold leading-tight tracking-tight break-words max-w-full px-2 pb-2 pt-2">Filtrar por Tipo</h4>
            <div class="flex flex-row my-2">
              <div class="flex items-center">
                <input (change)="onChangeCheckbox($event)" id="clinica" type="checkbox" value="Clinica" class="m-2 rounded text-blue-600 focus:ring-blue-500 w-5 h-5 sm:w-4 sm:h-4" />
                <label for="clinica" class="text-sm font-medium text-gray-900">Clinica</label>
              </div>
              <div class="flex items-center">
                <input (change)="onChangeCheckbox($event)" id="Odontologia" type="checkbox" value="Odontologia" class="m-2 rounded text-blue-600 focus:ring-blue-500 w-5 h-5 sm:w-4 sm:h-4" />
                <label for="Odontologia" class="text-sm font-medium text-gray-900">Odontologia</label>
              </div>
              <div class="flex items-center">
                <input (change)="onChangeCheckbox($event)" id="Fonoaudiologia" type="checkbox" value="Fonoaudiologia" class="m-2 rounded text-blue-600 focus:ring-blue-500 w-5 h-5 sm:w-4 sm:h-4" />
                <label for="Fonoaudiologia" class="text-sm font-medium text-gray-900">Fonoaudiologia</label>
              </div>
              <div class="flex items-center">
                <input (change)="onChangeCheckbox($event)" id="Oftalmologia" type="checkbox" value="Oftalmologia" class="m-2 rounded text-blue-600 focus:ring-blue-500 w-5 h-5 sm:w-4 sm:h-4" />
                <label for="Oftalmologia" class="text-sm font-medium text-gray-900">Oftalmologia</label>
              </div>
            </div>
            <app-consultas-table [consultas]="consultas" [displayedColumns]="consultasColumns" />
          } @else {
            @if (searchingConsultas) {
              <app-loading />
            }
          }
        </div>
      </div>
    </div>
  } @else {
    @if (searchingChico) {
      <app-loading />
    } @else {
      <div class="text-center">
        <h2 class="text-black text-2xl font-bold leading-tight tracking-tight p-6 m-5">El chico buscado no existe.</h2>
      </div>
    }
  }
</div>
