<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
  @for (tab of tabs; track $index) {
    @if ($index === 0) {
      <li class="me-1">
        <button [ngClass]="!currentParam || currentParam === $index ? 'inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg' : 'inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50'" (click)="cambiarParam($index)">{{ tab }}</button>
      </li>
    } @else {
      <li class="me-1">
        <button [ngClass]="currentParam === $index ? 'inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg' : 'inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50'" (click)="cambiarParam($index)">{{ tab }}</button>
      </li>
    }
  }
</ul>
