<div class="card">
  <!-- 'Fonoaudiologia' -->
  <app-tabs [tabs]="['General', 'Clinica', 'Odontologia', 'Oftalmologia']" (positionEmitter)="escucharParam($event)"></app-tabs>
  <div class="sm:p-0 md:p-4">
    <div class="mb-2">
      @switch (currentParam) {
        @case (0) {
          <app-general />
        }
        @case (1) {
          <app-clinica />
        }
        @case (2) {
          <app-odontologia />
        }
        @case (3) {
          <app-oftalmologia />
        }
        @case (4) {
          <app-fonoaudiologia />
        }
        @default {
          <app-general />
        }
      }
    </div>
  </div>
</div>
