<div class="card">
  <div class="card-header">
    <span>Importar archivos</span>
  </div>
  <div class="card-body">
    <h2 class="fs-10">Cargue el archivo de consultas que desee</h2>
    <app-select-file [control]="clinicaFileControl" [type]="'Clinica'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [control]="odontologiaFileControl" [type]="'Odontologia'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [control]="fonoaudiologiaFileControl" [type]="'Fonoaudiologia'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [control]="oftalmologiaFileControl" [type]="'Oftalmologia'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <!-- <hr />
    <app-select-file [control]="prevencionFileControl" [type]="'Prevencion'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [control]="socialFileControl" [type]="'Social'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" /> -->
  </div>
</div>
