<div class="card">
  <div class="card-header">
    <span>Importar archivos</span>
  </div>
  <div class="card-body">
    <h2 class="fs-10">Cargue el archivo de consultas que desee</h2>
    <app-select-file [loading]="loading" [control]="clinicaFileControl" [type]="'Clinica'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [loading]="loading" [control]="odontologiaFileControl" [type]="'Odontologia'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [loading]="loading" [control]="fonoaudiologiaFileControl" [type]="'Fonoaudiologia'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [loading]="loading" [control]="oftalmologiaFileControl" [type]="'Oftalmologia'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [control]="prevencionFileControl" [type]="'Prevencion'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [loading]="loading" [control]="socialFileControl" [type]="'Social'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <app-select-file [loading]="loading" [control]="talleresFileControl" [type]="'Talleres'" (cargarArchivo)="cargarArchivo($event)" (fileSelected)="onFileSelected($event)" />
    <hr />
    <button (click)="deshabilitarDatos()" class="'text-white bg-sky-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400'">Deshabilitar datos</button>
  </div>
</div>
