<div class="card">
  <span class="card-header">Cargar una nueva consulta de odontologia</span>
  <div class="card-body">
    <form (ngSubmit)="enviarFormulario()" [formGroup]="odontologiaForm">
      <app-campos-comunes [form]="odontologiaForm" />
      <div class="grid gap-6 md:grid-cols-6 sm:grid-cols-3">
        <!-- Cepillo -->
        <div class="mt-4 md:col-span-2">
          <app-input-select-enum label="¿Tiene cepillo?" [control]="controlDeInput('cepillo')" idInput="cepillo"
            [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <!-- Cepillado -->
        <div class="mt-4 md:col-span-2">
          <app-input-select-enum label="¿Se cepilla los dientes?" [control]="controlDeInput('cepillado')"
            idInput="cepillado" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <!-- primera_vez -->
        <div class="mt-4 md:col-span-2">
          <app-input-select-enum label="¿Es la primera vez? (podria calcularse)"
            [control]="controlDeInput('primera_vez')" idInput="primera_vez" [opciones]="['Si', 'No']"
            [valores]="['true', 'false']" />
        </div>
        <!-- Ulterior -->
        <div class="mt-4 md:col-span-2">
          <app-input-select-enum label="¿Es un tratamiento ulterior?" [control]="controlDeInput('ulterior')"
            idInput="ulterior" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <!-- Topificacion -->
        <div class="mt-4 md:col-span-2">
          <app-input-select-enum label="¿Se aplica topificación?" [control]="controlDeInput('topificacion')"
            idInput="topificacion" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <!-- Derivacion -->
        <div class="mt-4 md:col-span-2">
          <app-input-select-enum label="¿Derivacion?" [control]="controlDeInput('derivacion')" idInput="derivacion"
            [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <h3 class="mt-4 md:col-span-6">Estado de sus dientes:</h3>
        <!-- Dientes Permanentes -->
        <div class="mt-4 md:col-span-2">
          <app-input-number label="Dientes Permanentes" [control]="controlDeInput('dientes_permanentes')"
            placeholder="Ej: 2" idInput="dientes_permanentes" />
        </div>
        <!-- Dientes Temporales -->
        <div class="mt-4 md:col-span-2">
          <app-input-number label="Dientes Temporales" [control]="controlDeInput('dientes_temporales')"
            placeholder="Ej: 10" idInput="dientes_temporales" />
        </div>
        <!-- Sellador -->
        <div class="mt-4 md:col-span-2">
          <app-input-number label="Dientes con Sellador" [control]="controlDeInput('sellador')" placeholder="Ej: 1"
            idInput="sellador" />
        </div>
        <!-- Dientes Recuperables -->
        <div class="mt-4 md:col-span-3">
          <app-input-number label="Dientes Recuperables" [control]="controlDeInput('dientes_recuperables')"
            placeholder="Ej: 5" idInput="dientes_recuperables" />
        </div>
        <!-- Dientes no Recuperables -->
        <div class="mt-4 md:col-span-3">
          <app-input-number label="Dientes no Recuperables" [control]="controlDeInput('dientes_norecuperables')"
            placeholder="Ej: 3" idInput="dientes_norecuperables" />
        </div>
        <!-- Situacion Bucal -->
        <div class="mt-4 md:col-span-3">
          <app-input-text label="Situacion Bucal" [control]="controlDeInput('situacion_bucal')" placeholder="Ej: Buena"
            idInput="situacion_bucal" />
        </div>
        <!-- Habitos -->
        <div class="mt-4 md:col-span-3">
          <app-input-text label="Habitos" [control]="controlDeInput('habitos')" placeholder="Ej: Cepillado constante"
            idInput="habitos" />
        </div>
        <!-- Observaciones -->
        <div class="mt-4 md:col-span-6">
          <app-input-textarea label="Observaciones" [control]="controlDeInput('observaciones')" placeholder=""
            idInput="observaciones" />
        </div>
      </div>
      <!-- Enviar -->
      <div class="flex mt-4">
        <button type="submit" [disabled]="!odontologiaForm.valid"
          class="flex my-auto ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Agregar
        </button>
      </div>
    </form>
  </div>
</div>
