<form (ngSubmit)="enviarFormulario()" [formGroup]="odontologiaForm">
  <app-campos-comunes [form]="odontologiaForm" />
  <!-- primera_vez -->
  <div class="grid gap-6 md:grid-cols-4">
    <div class="mt-4 col-span-1">
      <app-input-checkbox (change)="onChangeCheckbox($event)" label="Primera Vez (podria calcularse)"
        [control]="controlDeInput('primera_vez')" idInput="primera_vez" />
    </div>
    <!-- Ulterior -->
    <div class="mt-4 col-span-1">
      <app-input-checkbox (change)="onChangeCheckbox($event)" label="Ulterior" [control]="controlDeInput('ulterior')"
        idInput="ulterior" />
    </div>
    <!-- Cepillo -->
    <div class="mt-4 col-span-1">
      <app-input-checkbox (change)="onChangeCheckbox($event)" label="¿Tiene cepillo?"
        [control]="controlDeInput('cepillo')" idInput="cepillo" />
    </div>
    <!-- Cepillado -->
    <div class="mt-4 col-span-1">
      <app-input-checkbox (change)="onChangeCheckbox($event)" label="¿Se cepilla los dientes?"
        [control]="controlDeInput('cepillado')" idInput="cepillado" />
    </div>
    <!-- Topificacion -->
    <div class="mt-4 col-span-1">
      <app-input-checkbox (change)="onChangeCheckbox($event)" label="Topificacion"
        [control]="controlDeInput('topificacion')" idInput="topificacion" />
    </div>
    <!-- Derivacion -->
    <div class="mt-4 col-span-1">
      <app-input-checkbox (change)="onChangeCheckbox($event)" label="Derivacion"
        [control]="controlDeInput('derivacion')" idInput="derivacion" />
    </div>
    <!-- Dientes Permanentes -->
    <div class="mt-4 col-span-2">
      <app-input-number label="Dientes Permanentes" [control]="controlDeInput('dientes_permanentes')"
        placeholder="Ej: 2" idInput="dientes_permanentes" />
    </div>
    <!-- Dientes Temporales -->
    <div class="col-span-2">
      <app-input-number label="Dientes Temporales" [control]="controlDeInput('dientes_temporales')" placeholder="Ej: 10"
        idInput="dientes_temporales" />
    </div>
    <!-- Sellador -->
    <div class="col-span-2">
      <app-input-number label="Dientes con Sellador" [control]="controlDeInput('sellador')" placeholder="Ej: 1"
        idInput="sellador" />
    </div>
    <!-- Dientes Recuperables -->
    <div class="col-span-2">
      <app-input-number label="Dientes Recuperables" [control]="controlDeInput('dientes_recuperables')"
        placeholder="Ej: 5" idInput="dientes_recuperables" />
    </div>
    <!-- Dientes no Recuperables -->
    <div class="col-span-2">
      <app-input-number label="Dientes no Recuperables" [control]="controlDeInput('dientes_norecuperables')"
        placeholder="Ej: 3" idInput="dientes_norecuperables" />
    </div>
    <!-- Situacion Bucal -->
    <div class="col-span-2">
      <app-input-text label="Situacion Bucal" [control]="controlDeInput('situacion_bucal')" placeholder="Ej: Buena"
        idInput="situacion_bucal" />
    </div>
    <!-- Habitos -->
    <div class="col-span-2">
      <app-input-text label="Habitos" [control]="controlDeInput('habitos')" placeholder="Ej: Cepillado constante"
        idInput="habitos" />
    </div>
  </div>
  <!-- Enviar -->
  <div class="flex my-auto p-10">
    <button type="submit" [disabled]="!odontologiaForm.valid"
      class="flex my-auto ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Agregar
    </button>
  </div>
</form>
