<label [for]="idInput" class="block mb-2 text-sm font-medium text-gray-900">{{ label }}</label>
<textarea [id]="idInput" [formControl]="control" rows="4"
  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
  [placeholder]="placeholder">
</textarea>
<div *ngIf="control?.errors && (control?.dirty || control?.touched)" class="text-red-600 text-sm">
  <div *ngIf="control?.errors?.['required']">El campo es requerido.</div>
  <div *ngIf="control?.errors?.['minlength']">Mínimo {{ control.errors?.['minlength']?.requiredLength }} caracteres.</div>
  <div *ngIf="control?.errors?.['maxlength']">Máximo {{ control.errors?.['maxlength']?.requiredLength }} caracteres.</div>
  <div *ngIf="control?.errors?.['ValidarSoloLetras']">Solo puede tener letras.</div>
  <div *ngIf="control?.errors?.['ValidarCadenaSinEspacios']">El campo no puede estar en blanco.</div>
</div>
