
<div class="p-2">
  <app-year-grado-form (cambioForm)="cambioForm($event)"/>
</div>

<div class="grid sm:grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-3">
  <div class="border"><app-pie-graph [titulo]="tituloEstadoNutriconal" [labels]="['B Bajo peso/Desnutrido', 'A Riesgo Nutricional', 'C Eutrófico', 'D Sobrepeso', 'E Obesidad']"  [set]="{label:'' ,data: estadoNutriconal}" /></div>
  <div class="border"><app-bar-graph/></div>
  <div class="border"><app-pie-graph [titulo]="tituloTensionArterial" [labels]="['Normotenso','Riesgo','Hipertenso']"  [set]="{label:'',data: tensionArterial}" /></div>
  <div class="border">a</div>
  <div class="border">a</div>
  <div class="border">a</div>
  <div class="border">a</div>
</div>
