<div class="card">
  <div class="card-header">Cursos</div>
  <div class="card-body">
    <div class="flex flex-row justify-between items-center">
      <input (keyup)="applyFilter($event)" placeholder="Buscar por nombre" #input type="text" id="filtro" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" required />
      <button aria-label="Botón de nuevo barrio" type="button" (click)="nuevoCurso()" class="flex mb-2 ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">
        <i class="pi pi-plus"></i>
        <!-- Nuevo -->
      </button>
    </div>
    <div class="scroll">
      <table mat-table [dataSource]="cursos" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 table-auto scroll">
        <!-- # -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{ cursos.data.indexOf(element) + 1 }}</td>
        </ng-container>
        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre">Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <!-- Nivel -->
        <ng-container matColumnDef="nivel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nivel">Nivel</th>
          <td mat-cell *matCellDef="let element">{{ element.nivel }}</td>
        </ng-container>
        <!-- Cantidad de consultas podria ponerse -->
        <ng-container matColumnDef="cantidadConsultas">
          <th mat-header-cell *matHeaderCellDef>Consultas</th>
          <td mat-cell *matCellDef="let element">{{ element.cantidadConsultas === 0 ? '-' : element.cantidadConsultas }}</td>
        </ng-container>
        <!-- Estado -->
        <ng-container matColumnDef="habilitado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por estado">Estado</th>
          <td mat-cell *matCellDef="let element">
            <p-tag [severity]="element.deshabilitado ? 'danger' : 'success'" [value]="element.deshabilitado ? 'Deshabilitado' : 'Habilitado'" />
          </td>
        </ng-container>
        <!-- Acciones -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let element">
            <div class="flex flex-row gap-2">
              <button [pTooltip]="element.deshabilitado ? 'Habilitar' : 'Deshabilitar'" tooltipPosition="top" (click)="element.deshabilitado ? habilitar(element.id) : inhabilitar(element.id)" [class]="element.deshabilitado ? 'text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400' : 'text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400'">
                @if (element.deshabilitado) {
                  <i class="fa-solid fa-check"></i>
                } @else {
                  <i class="fa-solid fa-xmark"></i>
                }
              </button>
              <button [pTooltip]="'Editar'" tooltipPosition="top" (click)="element.deshabilitado ? notificar(element.id) : editarCurso(element)" class="'text-white bg-sky-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center -700 -800 disabled:bg-gray-400'">
                <i class="fa-solid fa-pencil" style="color: #ffffff"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center font-bold text-blue-800 text-xl" [attr.colspan]="displayedColumns.length">
            @if (searching) {
              <div class="flex justify-center items-center h-32">
                <app-loading />
              </div>
            } @else {
              <p class="py-5">
                {{ input.value ? "No se encontraron cursos llamados '" + input.value + "'" : 'No hay cursos cargados.' }}
              </p>
            }
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons />
  </div>
</div>
