<!-- Dni -->
<div class="grid gap-6 md:grid-cols-8 sm:grid-cols-4">
  <div class="md:col-span-8 sm:col-span-4">
    <app-input-number (change)="onChangeDni()" label="Documento" [control]="controlDeInput('dni')" placeholder="xxxxxxxx" idInput="dni" />
  </div>
  @if (searching) {
    <div class="md:col-span-8 sm:col-span-4">
      <app-loading />
    </div>
  }
  <ng-container *ngIf="form.get('dni')?.value !== null && form.get('dni')?.value !== ''">
    <div class="md:col-span-8 sm:col-span-4">
      <!-- Mensaje cuando no hay chico cargado -->
      <div *ngIf="chico === null && this.form.get('dni')?.value.toString().length === 8 && !searching" class="bg-red-100 border border-red-300 text-red-600 text-sm p-4 rounded-lg w-full">
        <div class="flex items-center md:gap-2 sm:gap-2">
          <svg class="w-24 h-24 md:w-8 md:h-8 mr-2" fill="red" stroke="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
          </svg>
          <span class="font-semibold"> Error, chico no cargado en el sistema, escribe otro DNI o haz click <button class="underline hover:text-red-800" type="button" (click)="cargarChico()">aquí</button> para ir al formulario de nuevo chico y cargarlo. </span>
        </div>
      </div>
      <!-- Mensaje cuando hay chico cargado -->
      <div *ngIf="chico !== null && this.form.get('dni')?.value.toString().length === 8" class="bg-green-100 border border-green-300 text-sm p-4 rounded-lg w-full">
        <div class="flex items-center">
          <div class="text-green-600">
            <svg class="w-11 h-11 mr-2" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <p class="text-green-600 font-bold">Chico Seleccionado</p>
        </div>
        <div class="ml-14">
          <p>
            Nombre: <span class="font-semibold">{{ chico.nombre }}</span>
          </p>
          <p>
            Apellido: <span class="font-semibold">{{ chico.apellido }}</span>
          </p>
          <p>
            Edad: <span class="font-semibold">{{ edadAnios }} años y {{ edadMeses }} meses</span>
          </p>
          @if (values) {
            <p>
              Edad al asistir: <span class="font-semibold">{{ values.edad }} años</span>
            </p>
          }
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Institucion -->
  <div class="md:col-span-2 mb-3 sm:col-span-4">
    @if (searchingInstituciones) {
      <app-loading />
    } @else {
      <app-input-select label="Institucion" [control]="controlDeInput('id_institucion')" idInput="id_institucion" [opciones]="instituciones" />
    }
  </div>
  <!-- Curso -->
  <div class="md:col-span-2 mb-3 sm:col-span-4">
    @if (searchingCursos) {
      <app-loading />
    } @else {
      <app-input-select label="Curso" [control]="controlDeInput('id_curso')" idInput="id_curso" [opciones]="cursos" />
    }
  </div>
  <!-- Turno -->
  <div class="md:col-span-2 mb-4 sm:col-span-4">
    <app-input-select-enum label="Turno" [control]="controlDeInput('turno')" idInput="turno" [opciones]="['Mañana', 'Tarde', 'Noche']" [valores]="['Mañana', 'Tarde', 'Noche']" />
  </div>
  <!-- Obra Social -->
  <div class="md:col-span-2 mb-3 sm:col-span-4">
    <app-input-select-enum label="Obra Social" [control]="controlDeInput('obra_social')" idInput="obra_social" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
  </div>
</div>
