<label [for]="idInput" class="block mb-2 text-sm font-medium text-gray-900">{{ label }}</label>
<select (change)="handleChange($event)" [formControl]="control" [id]="idInput"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
  <option value="" disabled selected>{{ placeholder }}</option>
  <option value="new">Cargar {{ label }}</option>
  <option *ngFor="let opcion of opciones" [value]="opcion.id">{{ opcion.nombre }}</option>
</select>
<div *ngIf="control?.errors && (control?.dirty || control?.touched)" class="text-red-600 text-sm">
  <div *ngIf="control?.errors?.['required']">Debe seleccionar una opción.</div>
</div>
