<div class="p-2">
  <app-year-grado-form (cambioForm)="cambioForm($event)" [esTaller]="true" />
</div>
<app-grid-changer (gridChange)="setearGrid($event)"></app-grid-changer>
<div
  [ngClass]="{
    'grid gap-4 ': true,
    'grid-cols-1  sm:mx-12 ': grid === 1,
    'grid-cols-2  ': grid === 2,
    'grid-cols-3  ': grid === 3,
  }"
>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" titulo="Talleres por año" [labels]="lastFourYears" [sets]="dataTalleresxAnio" [porcentaje]="porcentaje === 1" />
  </div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" titulo="Tipos de talleres por año" [labels]="this.con.EspecialidadEnum" [sets]="dataTalleresxAnioxEspecialidad" [subTitulo]="cursoInstitucionLabel" [porcentaje]="porcentaje === 1" />
  </div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" titulo="{{ participantesOEncuentros }} por especialidad" [labels]="this.con.EspecialidadEnum" [sets]="dataParticipantesTalleresxAnio" [subTitulo]="cursoInstitucionLabel" [porcentaje]="porcentaje === 1" />
  </div>

  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <div class="flex flex-col h-full justify-center">
      <!-- No deberia hacer falta esto pero da error si no esta -->
      <div *ngIf="this.loading === false">
        <app-pie-graph [loading]="loading" [titulo]="'Tipos de talleres'" [subTitulo]="subTitulo" [labels]="this.con.EspecialidadEnum" [set]="dataTipoTaller" />
      </div>
    </div>
  </div>

  <!-- No deberia hacer falta esto pero da error si no esta -->
  <div *ngIf="searchingEspecialidades || searchingMarcos; else elseBlock">
    <app-loading />
  </div>
  <ng-template #elseBlock>
    <div *ngFor="let especialidad of especialidades" class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
      <ng-container *ngIf="dataCantEncuentrosxMarco[especialidad.nombre.toLowerCase()]">
        <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
        <app-bar-graph [loading]="loading" titulo="{{ participantesOEncuentros }} por marco de {{ especialidad.nombre }}" [labels]="getMarcos(especialidad.nombre.toLowerCase())" [sets]="dataCantEncuentrosxMarco[especialidad.nombre.toLowerCase()]" [subTitulo]="cursoInstitucionLabel" [porcentaje]="porcentaje === 1" />
      </ng-container>
    </div>
  </ng-template>
</div>
