<label [for]="idInput" class="block mb-2 text-sm font-medium text-gray-900">{{ label }}</label>
<input [formControl]="control" type="number" [id]="idInput"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
  [placeholder]="placeholder" (change)="handleChange($event)" />
<div *ngIf="control?.errors && (control?.dirty || control?.touched)" class="text-red-600 text-sm">
  <div *ngIf="control?.errors?.['required']">El campo es requerido.</div>
  <div *ngIf="control?.errors?.['ValidarSoloNumeros']">Solo puede tener números.</div>
  <div *ngIf="control?.errors?.['ValidarNumerosFloat']">Solo se permiten números positivos.</div>
  <div *ngIf="control?.errors?.['minlength']">Mínimo {{ control.errors?.['minlength']?.requiredLength }} caracteres.</div>
  <div *ngIf="control?.errors?.['maxlength']">Máximo {{ control.errors?.['maxlength']?.requiredLength }} caracteres.</div>
  <div *ngIf="control?.errors?.['ValidarDni']">Debe tener 8 dígitos.</div>
</div>
