<div class="card">
  <span class="card-header">
    @if (consulta) {
      <div class="flex justify-between">
        <div class="">Consulta Oftalmologia</div>
        <div class="">Fecha realizada: {{ consulta.created_at | date: 'dd-MM-yyyy' }}</div>
      </div>
    } @else {
      Cargar una nueva consulta de oftalmologia
    }
  </span>
  <div class="card-body">
    <form (ngSubmit)="consulta ? modificarConsulta() : enviarFormulario()" [formGroup]="oftalmologiaForm">
      <app-campos-comunes [form]="oftalmologiaForm" (chicoChange)="this.recibirChico($event)" [values]="consulta" />
      <div class="grid gap-6 md:grid-cols-6 sm:grid-cols-3">
        <!-- Calculos primera_vez y control -->
        <ng-container class="mt-4">
          <div *ngIf="chico !== null" class="bg-blue-100 border border-blue-300 text-sm p-4 rounded-lg w-full md:col-span-6 grid grid-cols-2">
            <p>
              <span class="font-bold">{{ consulta ? 'Fue' : 'Es' }} su primera vez: </span><span>{{ this.oftalmologiaForm.get('primera_vez')?.value ? 'Si' : 'No' }}</span>
            </p>
            <p>
              <span class="font-bold">{{ consulta ? 'Fue' : 'Es' }} control: </span><span>{{ this.oftalmologiaForm.get('control')?.value ? 'Si' : 'No' }}</span>
            </p>
          </div>
        </ng-container>
        <!-- Receta -->
        <div class="mt-4 md:col-span-3">
          <app-input-select-enum label="¿Necesita receta?" [control]="controlDeInput('receta')" idInput="receta" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <!-- Demanda -->
        <div class="mt-4 md:col-span-3">
          <app-input-select-enum label="Motivo de la consulta (demanda)" [control]="controlDeInput('demanda')" idInput="demanda" [opciones]="['Control niño sano', 'Docente','Familiar','Otro']" [valores]="['Control niño sano', 'Docente','Familiar','Otro']" />
        </div>
        <!-- Derivacion -->
        <div class="mt-4 md:col-span-3">
          <app-input-select-enum label="¿Derivacion externa?" [control]="controlDeInput('derivacion_externa')" idInput="derivacion_externa" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
        </div>
        <!-- Anteojos -->
        <ng-container>
          <div *ngIf="this.oftalmologiaForm.get('control')?.value" class="mt-4 md:col-span-3">
            <app-input-select-enum label="¿Se le entregaron los anteojos?" [control]="controlDeInput('anteojos')" idInput="anteojos" [opciones]="['Si', 'No']" [valores]="['true', 'false']" />
          </div>
        </ng-container>
        <!-- Proximo Control -->
        <div class="mt-4 md:col-span-3">
          <app-input-date label="Fecha del Próximo Control" [control]="controlDeInput('prox_control')" idInput="prox_control" [min]="fechaManana" />
        </div>
        <!-- Observaciones -->
        <div class="md:col-span-6">
          <app-input-textarea label="Observaciones" [control]="controlDeInput('observaciones')" placeholder="" idInput="observaciones" [opcional]="true" />
        </div>
      </div>
      @if (consulta) {
        @if (consulta.usuario) {
          <app-datos-medico [profesional]="consulta.usuario"/>
        }
      }
      <!-- Enviar -->
      <div class="flex mt-4">
        @if (consulta && editar) {
          @if (oftalmologiaForm.disabled) {
            <button type="button" (click)="cambiarEstado()" [disabled]="false" class="flex my-auto mr-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Modificar</button>
          } @else {
            <button type="button" (click)="cambiarEstado()" class="ml-auto mr-2 text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Cancelar</button>
            <button type="submit" [disabled]="habilitarModificar" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Confirmar</button>
          }
        } @else {
          @if (editar) {
            <button type="submit" [disabled]="!oftalmologiaForm.valid" class="flex my-auto ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Agregar</button>
          }
        }
      </div>
    </form>
  </div>
</div>
