<div class="p-2">
  <app-year-grado-form (cambioForm)="cambioForm($event)" />
</div>

<app-grid-changer (gridChange)="setearGrid($event)"></app-grid-changer>
<div
  [ngClass]="{
    'grid gap-4 ': true,
    'grid-cols-1  sm:mx-12 ': grid === 1,
    'grid-cols-2  ': grid === 2,
    'grid-cols-3  ': grid === 3,
  }"
>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" [titulo]="tituloProblematica" [subTitulo]="cursoLabel" [porcentaje]="porcentaje === 1" [labels]="problematica" [sets]="porcentajeProblematica" /></div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" [titulo]="tituloMotivoConsumo" [subTitulo]="cursoLabel" [porcentaje]="porcentaje === 1" [labels]="motivoConsumo" [sets]="porcentajeMotivoConsumo" /></div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" [titulo]="tituloFrecuenciaCosumo" [subTitulo]="cursoLabel" [porcentaje]="porcentaje === 1" [labels]="frecuenciaConsumo" [sets]="porcentajeFrecuenciaCosumo" /></div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-bar-graph [loading]="loading" [titulo]="tituloDrogaHabitual" [subTitulo]="cursoLabel" [porcentaje]="porcentaje === 1" [labels]="drogaHabitual" [sets]="porcentajeDrogaHabitual" /></div>

  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-pie-graph [loading]="loading" [titulo]="tituloProblematica" [subTitulo]="subTitulo" [labels]="problematica" [set]="{ label: '', data: countProblematica }" /></div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-pie-graph [loading]="loading" [titulo]="tituloMotivoConsumo" [subTitulo]="subTitulo" [labels]="motivoConsumo" [set]="{ label: '', data: countMotivoConsumo }" /></div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-pie-graph [loading]="loading" [titulo]="tituloFrecuenciaCosumo" [subTitulo]="subTitulo" [labels]="frecuenciaConsumo" [set]="{ label: '', data: countFrecuenciaCosumo }" /></div>
  <div class="border sm:p-4 z-2 bg-gray-100 rounded-lg shadow-md">
    <app-expand-compress-button [grid]="grid" (actualizarGraficos)="actualizarGraficos()"></app-expand-compress-button>
    <app-pie-graph [loading]="loading" [titulo]="tituloDrogaHabitual" [subTitulo]="subTitulo" [labels]="drogaHabitual" [set]="{ label: '', data: countDrogaHabitual }" /></div>
</div>
