@if (!isLoading) {
  <div class="loader">Cargando..</div>
} @else {
  <div class="contenedor">
    <div class="rectangulo"></div>

    <div class="absolute image">
      <img src="./../../assets/logoFundacionSinfondo.png" alt="Logo fundacion" [width]="this.width" [height]="" />
      <!-- <img src="./../../assets/logoFacultad.png" alt="Logo fundacion" [width]="this.width" [height]="" /> -->
    </div>

    <div class="form-position">
      <app-formulario />
    </div>
    <div class="spam text-center text-gray-600">
      <img src="./../../assets/logoFacultad.png" alt="Logo facultad informatica" width="300" />
      <span class="text-xs"> Alcaraz Julián - Benjamin Diego </span>
    </div>
  </div>
}
