<div *ngIf="hayConsulta && idConsulta" class="mt-10">
  <p class="font-bold">Detalles de la Consulta {{ consulta.type }}</p>

  <div class="layout-container flex h-full grow flex-col">
    <div class="layout-content-container flex flex-col w-full flex-1">
      <div class="flex flex-wrap gap-3 px-4 py-3">
        @if (consulta) {
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ consulta.obra_social | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Obra Social</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ consulta.turno | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Turno al que asiste el niño</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ consulta.edad | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Edad del niño al asistir</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ consulta.created_at | date: 'dd-MM-yyyy' }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Fecha consulta</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ consulta.derivaciones | filtrarKeysTrue | titlecase }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Derivaciones</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center" [class]="consulta.observaciones ? 'w-full' : ''">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ consulta.observaciones | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Observaciones</p>
            </div>
          </div>
        }
        <h1 class="flex w-full font-semibold">Institución y curso</h1>
        @if (institucion) {
          <div class="flex min-w-auto flex-1 basis-auto md:basis-1/4 flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ institucion.nombre | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Nombre de la instución</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto md:basis-1/4 flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ institucion.tipo | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Tipo de institución</p>
            </div>
          </div>
        }
        @if (curso) {
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ curso.nombre | dataConsulta }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Curso / grado / año</p>
            </div>
          </div>
        }
        <h1 class="flex w-full font-semibold">Datos especialidad</h1>
        <!-- esta si -->
        @if (datosTipoConsulta) {
          <div *ngFor="let dato of datosTipoConsulta | keyvalue">
            <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
              <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ dato.value | dataConsulta }}</p>
              <div class="flex items-center gap-2">
                <p class="text-slate-500 text-sm font-normal leading-normal">{{ dato.key | keyDataConsulta | titlecase }}</p>
              </div>
            </div>
          </div>
        }
        <h1 class="flex w-full font-semibold">Datos del medico</h1>
        @if (usuarioCreador) {
          <!-- <div *ngFor="let dato of usuarioCreador | keyvalue">
            @if (!(dato.key === 'id' || dato.key === 'updated_at' || dato.key === 'created_at')) {
              <div class="flex min-w-28 flex-1 basis-auto  flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
                <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ dato.value | dataConsulta }}</p>
                <div class="flex items-center gap-2">
                  <p class="text-slate-500 text-sm font-normal leading-normal">{{ dato.key   | keyDataConsulta | titlecase }}</p>
                </div>
              </div>
            }
          </div> -->
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ usuarioCreador.apellido }} {{ usuarioCreador.nombre }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Nombre Completo</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ usuarioCreador.especialidad }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Especialidad</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight break-words break-all">{{ usuarioCreador.email }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Email</p>
            </div>
          </div>
          <div class="flex min-w-auto flex-1 basis-auto flex-col gap-2 rounded-lg border border-gray-300 p-3 items-center text-center">
            <p class="text-black tracking-light text-2xl font-medium leading-tight">{{ usuarioCreador.dni }}</p>
            <div class="flex items-center gap-2">
              <p class="text-slate-500 text-sm font-normal leading-normal">Dni</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
