<div class="grid gap-6 grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8" [formGroup]="especificas">
  <!-- Diagnostico Presuntivo -->
  <div class="col-span-2 sm:col-span-2 md:col-span-2 lg:col-span-2 ">
    <p-iftalabel>
      <p-select [options]="diagnosticoPresuntivoOptions" formControlName="diagnostico_presuntivo" idInput="diagnostico_presuntivo" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="diagnostico_presuntivo">Diagnostico Presuntivo</label>
    </p-iftalabel>
  </div>
  <!-- Causas -->
  <div class="col-span-2 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="casuasOptions" formControlName="causas" idInput="causas" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="causas">Causas</label>
    </p-iftalabel>
  </div>
  <!-- Derivacion externa-->
  <div class="col-span-2 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-multiselect [options]="derivacionesOptions" [formControl]="controlDeInput('derivaciones')" optionLabel="nombre" optionValue="valor" styleClass="w-full h-16" [filter]="false" [showHeader]="false" />
      <!-- <p-select [options]="derivacionesOptions" optionLabel="nombre" optionValue="valor" [formControl]="controlDeInput('derivaciones')" idInput="derivaciones" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />  -->
      <label for="derivaciones">Derivacion externa</label>
    </p-iftalabel>
  </div>
  <!-- Asistencia -->
  <div class="col-span-2 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" optionLabel="nombre" optionValue="valor" formControlName="asistencia" idInput="asistencia" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="asistencia">Asistencia</label>
    </p-iftalabel>
  </div>
</div>
