<!-- AGREGAR ONSUBMIT!!!!! -->
<div [formGroup]="form">
  <div formGroupName="camposGenerales" class="grid gap-6 md:grid-cols-4">
    <!-- Campos generales: -->
    <!-- Obra Social: -->
    <div class="col-span-2">
      <label for="obra_social" class="block mb-2 text-sm font-medium text-gray-900">Obra Social</label>
      <input formControlName="obra_social" type="text" id="obra_social"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ej: Osde" />
      <div
        *ngIf="form?.get('camposGenerales.obra_social')?.errors && (form?.get('camposGenerales.obra_social')?.dirty || form?.get('camposGenerales.obra_social')?.touched)"
        class="text-red-600 text-sm">
        <div *ngIf="form?.get('camposGenerales.obra_social')?.errors?.['minlength']">Minimo 3 caracteres.</div>
        <div *ngIf="form?.get('camposGenerales.obra_social')?.errors?.['maxlength']">Maximo 100 caracteres.</div>
        <div *ngIf="form?.get('camposGenerales.obra_social')?.errors?.['ValidarSoloLetras']">Solo puede tener letras.
        </div>
        <div *ngIf="form?.get('camposGenerales.obra_social')?.errors?.['ValidarCadenaSinEspacios']">El campo no puede
          estar en blanco.
        </div>
      </div>
    </div>
    <!-- Edad: -->
    <div class="col-span-2">
      <label for="edad" class="block mb-2 text-sm font-medium text-gray-900">Edad</label>
      <input formControlName="edad" type="number" id="edad"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ej: 10" required />
      <div
        *ngIf="form?.get('camposGenerales.edad')?.errors && (form?.get('camposGenerales.edad')?.dirty || form?.get('camposGenerales.edad')?.touched)"
        class="text-red-600 text-sm">
        <div *ngIf="form?.get('camposGenerales.edad')?.errors?.['required']">El campo es requerido.</div>
        <div *ngIf="form?.get('camposGenerales.edad')?.errors?.['ValidarSoloNumeros']">Solo puede tener números.</div>
        <div *ngIf="form?.get('camposGenerales.edad')?.errors?.['ValidarCadenaSinEspacios']">El campo no puede estar en
          blanco.
        </div>
      </div>
    </div>
    <!-- Observaciones: -->
    <div class="col-span-4">
      <label for="observaciones" class="block mb-2 text-sm font-medium text-gray-900">Observaciones</label>
      <input formControlName="observaciones" type="text" id="observaciones"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="" />
      <div
        *ngIf="form?.get('camposGenerales.observaciones')?.errors && (form?.get('camposGenerales.observaciones')?.dirty || form?.get('camposGenerales.observaciones')?.touched)"
        class="text-red-600 text-sm">
        <div *ngIf="form?.get('camposGenerales.observaciones')?.errors?.['minlength']">Minimo 1 caracter.</div>
        <div *ngIf="form?.get('camposGenerales.observaciones')?.errors?.['maxlength']">Maximo 1000 caracteres.</div>
        <div *ngIf="form?.get('camposGenerales.observaciones')?.errors?.['ValidarSoloLetras']">Solo puede tener letras.
        </div>
        <div *ngIf="form?.get('camposGenerales.observaciones')?.errors?.['ValidarCadenaSinEspacios']">El campo no puede
          estar en blanco.
        </div>
      </div>
    </div>
    <!-- Dni: -->
    <!-- !!!!!!!!!!!!! 6. Relacion con chico creo? -->
    <div class="col-span-2">
      <label for="dni" class="block mb-2 text-sm font-medium text-gray-900">Documento</label>
      <input formControlName="dni" type="number" id="dni" aria-describedby="helper-text-explanation"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="xxxxx" required />
      <div
        *ngIf="form?.get('camposGenerales.dni')?.errors && (form?.get('camposGenerales.dni')?.dirty || form?.get('camposGenerales.dni')?.touched)"
        class="text-red-600 text-sm">
        <div *ngIf="form?.get('camposGenerales.dni')?.errors?.['required']">El campo es requerido.</div>
        <div *ngIf="form?.get('camposGenerales.dni')?.errors?.['ValidarSoloNumeros']">Solo se permiten números.</div>
        <div *ngIf="form?.get('camposGenerales.dni')?.errors?.['ValidarDni']">Debe tener 8 digitos.</div>
        <div *ngIf="form?.get('camposGenerales.dni')?.errors?.['dniExistente']">Ese dni no esta cargado en el sistema.
        </div>
      </div>
    </div>
    <!-- Mensaje para cargar el chico si el DNI no existe -->
    <div *ngIf="form?.get('camposGenerales.dni')?.errors?.['dniNoExistente']" class="text-blue-600 text-sm mt-2">
      <!-- Agregar enlace despues -->
      <a href="#" (click)="1+1">
        Chico no cargado, haz clic aquí para cargarlo.
      </a>
    </div>


    <!-- Dni: -->
    <!-- !!!!!!!!!!!!! 7. Relacion con institucion creo? -->
    <!-- Dni: -->
    <!-- !!!!!!!!!!!!! 8. Relacion con curso creo?-->
    <!-- Dni: -->


  </div>
</div>
