<div class="card">
  <app-tabs [tabs]="['Año', 'Personalizada']" (positionEmitter)="escucharParam($event)"></app-tabs>
  <div class="card-body">
    <div class="mb-2">
      @if (currentParam === 0 || !currentParam) {
        <app-consultasxanio (consultasEmitidas)="mostrarConsultas($event)" />
      }
      @if (currentParam === 1) {
        <app-personalizada (consultasEmitidas)="mostrarConsultas($event)" />
      }
    </div>
    @if (consultas && consultas.length > 0) {
      <app-consultas-table [consultas]="consultas" [displayedColumns]="['numero', 'type', 'fecha', 'nombre', 'documento', 'profesional', 'observaciones']" />
    } @else if (consultas && consultas.length === 0) {
      <div class="text-center font-semibold text-lg">
        <h1>Consultas no encontradas</h1>
      </div>
    }
  </div>
</div>
