/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  /* agregar font familyu */
  background: #f4f7fa;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
  .card-header {
    padding: 0.7rem 1.5rem;
    font-size: larger;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid #edf1f7;
  }
  .card-body {
    padding: 1rem 1.5rem;
  }
}

/* Notificaciones */
/* Estilo base para alertas */
.alert {
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* Alerta de éxito */
.alert-success {
  background-color: #079d02;
  border: #155724 1px solid;
}

/* Alerta de información */
.alert-info {
  background-color: #1d99b0;
  border: #037084 1px solid;
}

/* Alerta de advertencia */
.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
}

/* Alerta de peligro */
.alert-danger {
  background-color: #d61424;
  border: #6b0000 1px solid;
  color: #721c24;
}

/* Alerta con icono (opcional) */
.alert-icon {
  display: flex;
  align-items: center;
}

/* Estilo para el icono */
.alert-icon i {
  margin-right: 0.5rem;
}

/* MatSnackBar */
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* headers para tablas */
[mat-header-cell] {
  background-color: #02204c !important;
  color: #f4f7fa;
}
[mat-header-cell]:first-child {
  border-top-left-radius: 10px; /* Radio de borde superior izquierdo */
}

[mat-header-cell]:last-child {
  border-top-right-radius: 10px; /* Radio de borde superior derecho */
}
.scroll {
  overflow-x: auto;
}
.full-screen-dialog {
  min-width: 80vw !important;
  max-height: 90vh !important;
  max-width: 100vw !important;
  margin: 0;
  padding: 0;
  /* overflow: auto !important; */
}


