<div class="grid gap-6 grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8" [formGroup]="especificas">
  <!-- Derivacion externa-->
  <div class="col-span-2 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="derivacionesOptions" formControlName="derivaciones" optionLabel="nombre" optionValue="valor" [checkmark]="true" [showClear]="true" styleClass="w-full h-16" />
      <!-- <p-select [options]="derivacionesOptions" optionLabel="nombre" optionValue="valor" [formControl]="controlDeInput('derivaciones')" idInput="derivaciones" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" /> -->
      <label for="derivaciones">Derivacion externa</label>
    </p-iftalabel>
  </div>
</div>
