<div class="sidenav" [class]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" tabindex (click)="toggleCollapsed()" (keydown.control.enter)="toggleCollapsed()">
      <i class="fa-solid fa-bars"></i>
      <!-- FS -->
    </button>
    <div class="logo-text" @fadeinOut *ngIf="collapsed">F.Sol</div>
    <button class="btn-close" *ngIf="collapsed">
      <i class="fa-solid fa-xmark fa-xl" @rotate (click)="closeSidenav()" tabindex (keydown.control.enter)="closeSidenav()"></i>
    </button>
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link" (click)="handleClick(data)" tabindex (keydown)="handleClick(data)" *ngIf="data.sub_menus && data.sub_menus.length > 0" [ngClass]="getActiveClass(data)">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeinOut *ngIf="collapsed">{{ data.label }}</span>
          <i class="menu-collapse-icon" *ngIf="data.sub_menus && collapsed" [ngClass]="!data.expanded ? 'fa-solid fa-angle-right' : 'fa-solid fa-angle-down'"></i>
        </a>
        <a class="sidenav-nav-link" *ngIf="!data.sub_menus || (data.sub_menus && data.sub_menus.length === 0)" [routerLink]="[data.url]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeinOut *ngIf="collapsed">{{ data.label }}</span>
        </a>
        <div *ngIf="collapsed && data.sub_menus && data.sub_menus.length > 0">
          <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple" [expanded]="data.expanded" />
        </div>
      </li>
    </ul>
  </div>
  <ul class="sidenav-nav" style="padding-top: 0px !important; padding-bottom: 0px !important">
    <li class="sidenav-nav-item" style="margin: 0px !important; padding-bottom: 5px">
      <a class="sidenav-nav-link" (click)="logout()" tabindex (keydown)="logout()">
        <i class="sidenav-link-icon fa-solid fa-arrow-right-to-bracket"></i>
        <span class="sidenav-link-text" @fadeinOut *ngIf="collapsed">Salir</span>
      </a>
    </li>
  </ul>
</div>
