<!-- <div class="sm:text-blue-600 md:text-red-600 lg:text-green-500">sm azul 4 cols, md rojo 6 cols, lg verde col 8</div> -->
<div class="grid gap-6 grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8" [formGroup]="especificas">
  <!-- Talla -->
  <div class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">
    <div class="grid gap-3 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
      <!-- Talla Min -->
      <div formGroupName="rangoTalla">
        <p-iftalabel>
          <p-inputnumber formControlName="tallaMin" inputId="tallaMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="tallaMin">Talla Min</label>
        </p-iftalabel>
      </div>
      <!-- Talla Max -->
      <div formGroupName="rangoTalla">
        <p-iftalabel>
          <p-inputnumber formControlName="tallaMax" inputId="tallaMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="tallaMax">Talla max</label>
        </p-iftalabel>
      </div>
      <!-- CC Min -->
      <div formGroupName="rangoCC">
        <p-iftalabel>
          <p-inputnumber formControlName="ccMin" inputId="ccMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="ccMin">Circunferencia de la cintura Min</label>
        </p-iftalabel>
      </div>
      <!-- CC Max -->
      <div formGroupName="rangoCC">
        <p-iftalabel>
          <p-inputnumber formControlName="ccMax" inputId="ccMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="ccMax">Circunferencia de la cintura Max</label>
        </p-iftalabel>
      </div>
      <!-- Peso Min -->
      <div formGroupName="rangoPeso">
        <p-iftalabel>
          <p-inputnumber formControlName="pesoMin" inputId="pesoMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="pesoMin">Peso Min</label>
        </p-iftalabel>
      </div>
      <!-- Peso Max -->
      <div formGroupName="rangoPeso">
        <p-iftalabel>
          <p-inputnumber formControlName="pesoMax" inputId="pesoMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="pesoMax">Peso Max</label>
        </p-iftalabel>
      </div>
      <!-- Percentil de talla (pct) Min -->
      <div formGroupName="rangoPct">
        <p-iftalabel>
          <p-inputnumber formControlName="pctMin" inputId="pctMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="pctMin">Percentil de talla Min</label>
        </p-iftalabel>
      </div>
      <!-- Percentil de talla (pct) Max -->
      <div formGroupName="rangoPct">
        <p-iftalabel>
          <p-inputnumber formControlName="pctMax" inputId="pctMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="pctMax">Percentil de talla Max</label>
        </p-iftalabel>
      </div>
      <!-- Tension Arterial Sistolica (tas) Min -->
      <div formGroupName="rangoTas">
        <p-iftalabel>
          <p-inputnumber formControlName="tasMin" inputId="tasMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="tasMin">Tension Arterial Sistolica Min</label>
        </p-iftalabel>
      </div>
      <!-- Tension Arterial Sistolica (tas) Max -->
      <div formGroupName="rangoTas">
        <p-iftalabel>
          <p-inputnumber formControlName="tasMax" inputId="tasMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="tasMax">Tension Arterial Sistolica Max</label>
        </p-iftalabel>
      </div>
      <!-- Tension Arterial Diastolica (tad) Min -->
      <div formGroupName="rangoTad">
        <p-iftalabel>
          <p-inputnumber formControlName="tadMin" inputId="tadMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="tadMin">Tension Arterial Diastolica Min</label>
        </p-iftalabel>
      </div>
      <!-- Tension Arterial Diastolica (tad) Max -->
      <div formGroupName="rangoTad">
        <p-iftalabel>
          <p-inputnumber formControlName="tadMax" inputId="tadMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
          <label for="tadMax">Tension Arterial Diastolica Max</label>
        </p-iftalabel>
      </div>
    </div>
    <div *ngIf="especificas.get('rangoTalla')?.errors" class="text-red-600 text-sm">El valor de la talla mínima no puede ser mayor al máximo.</div>
    <div *ngIf="especificas.get('rangoCC')?.errors" class="text-red-600 text-sm">El valor de la circunferencia de la cintura mínima no puede ser mayor al máximo.</div>
    <div *ngIf="especificas.get('rangoPeso')?.errors" class="text-red-600 text-sm">El valor del peso mínimo no puede ser mayor al máximo.</div>
    <div *ngIf="especificas.get('rangoPct')?.errors" class="text-red-600 text-sm">El valor del Percentil de talla mínimo no puede ser mayor al máximo.</div>
    <div *ngIf="especificas.get('rangoTas')?.errors" class="text-red-600 text-sm">El valor de la Tension Arterial Sistolica mínimo no puede ser mayor al máximo.</div>
    <div *ngIf="especificas.get('rangoTad')?.errors" class="text-red-600 text-sm">El valor de la Tension Arterial Diastolica mínimo no puede ser mayor al máximo.</div>
  </div>
  <!-- Diabetes -->
  <p class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">Antecedentes familiares:</p>
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1">
    <p class="m-0 p-0">Diabetes</p>
    <p-selectbutton [options]="siNoOptions" formControlName="diabetes" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <!-- HTA -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1">
    <p class="m-0 p-0">Hipertension arterial</p>
    <p-selectbutton [options]="siNoOptions" formControlName="hta" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <!-- Obesidad -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1">
    <p class="m-0 p-0">Obesidad</p>
    <p-selectbutton [options]="siNoOptions" formControlName="obesidad" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <!-- Consumo Alcohol -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1">
    <p class="m-0 p-0">Consumo alcohol</p>
    <p-selectbutton [options]="siNoOptions" formControlName="consumo_alcohol" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <!-- Consumo Drogas -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1">
    <p class="m-0 p-0">Consumo drogas</p>
    <p-selectbutton [options]="siNoOptions" formControlName="consumo_drogas" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <!-- Consumo Tabaco -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1">
    <p class="m-0 p-0">Consumo tabaco</p>
    <p-selectbutton [options]="siNoOptions" formControlName="consumo_tabaco" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <p class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">Condiciones:</p>
  <!-- Antecedentes perinatales -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p class="m-0 p-0">Antecedentes perinatales</p>
    <p-selectbutton [options]="siNoOptions" formControlName="antecedentes_perinatal" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <!-- Enfermedades previas -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p class="m-0 p-0">Enfermedades previas</p>
    <p-selectbutton [options]="siNoOptions" formControlName="enfermedades_previas" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <span class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">****</span>
  <!-- Seguimiento -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p class="m-0 p-0">Seguimiento</p>
    <p-selectbutton [options]="siNoOptions" formControlName="segto" optionLabel="nombre" optionValue="valor" styleClass="w-full" />
  </div>
  <span class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">****</span>
  <!-- Vacunas -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="vacunasOptions" formControlName="vacunas" idInput="vacunas" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="vacunas">Vacunas</label>
    </p-iftalabel>
  </div>
  <!-- Examen visual -->
  <div class="mcol-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="examenVisualOptions" formControlName="examen_visual" idInput="examen_visual" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="examen_visual">Examen Visual</label>
    </p-iftalabel>
  </div>
  <!-- Lenguaje -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="lenguajeOptions" formControlName="lenguaje" idInput="lenguaje" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="lenguaje">Lenguaje</label>
    </p-iftalabel>
  </div>
  <!-- Ortopedia y traumatologia -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="ortopediaTraumatologiaOptions" formControlName="ortopedia_traumatologia" idInput="ortopedia_traumatologia" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="ortopedia_traumatologia">Ortopedia y Traumatologia</label>
    </p-iftalabel>
  </div>
  <!-- Alimentacion -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="alimentacionOptions" formControlName="alimentacion" idInput="alimentacion" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="alimentacion">Alimentación</label>
    </p-iftalabel>
  </div>
  <!-- Hidratacion -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="hidratacionOptions" formControlName="hidratacion" idInput="hidratacion" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="hidratacion">Hidratación</label>
    </p-iftalabel>
  </div>
  <p class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">Horas diarias dedicadas a:</p>
  <!-- Horas pantalla -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="horasPantallaOptions" formControlName="horas_pantalla" idInput="horas_pantalla" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="horas_pantalla">Horas pantalla</label>
    </p-iftalabel>
  </div>
  <!-- Horas juego aire libre -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="horasJuegoAireLibreOptions" formControlName="horas_juego_aire_libre" idInput="horas_juego_aire_libre" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="horas_juego_aire_libre">Horas juego aire libre</label>
    </p-iftalabel>
  </div>
  <!-- Horas sueño -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="horasSuenioOptions" formControlName="horas_suenio" idInput="horas_suenio" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="horas_suenio">Horas sueño</label>
    </p-iftalabel>
  </div>
  <!-- Tension arterial -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="tensionArterialOptions" formControlName="tension_arterial" idInput="tension_arterial" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="tension_arterial">Tension arterial</label>
    </p-iftalabel>
  </div>
  <!-- Estado nutricional -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="estadoNutricionalOptions" formControlName="estado_nutricional" idInput="estado_nutricional" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="estado_nutricional">Estado nutricional</label>
    </p-iftalabel>
  </div>
  <!-- Derivaciones -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-multiselect [options]="derivacionesOptionsClinica" [formControl]="controlDeInput('derivaciones')" [maxSelectedLabels]="3" optionLabel="nombre" optionValue="valor" display="chip" styleClass="w-full h-16" [filter]="false" [showHeader]="false" />
      <label for="derivaciones">Derivaciones</label>
    </p-iftalabel>
  </div>
</div>
