<!-- <div class="sm:text-blue-600 md:text-red-600 lg:text-green-500">sm azul 4 cols, md rojo 6 cols, lg verde col 8</div> -->
<div class="grid gap-6 grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8" [formGroup]="especificas">
  <div class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">
    <div class="grid gap-3 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
      <!-- Rango Talla -->
      <div formGroupName="rangoTalla" class="grid sm:col-span-2 md:col-span-1 lg:col-span-2 gap-3">
        <p class="col-span-2 text-sm text-gray-500 mb-1 text-center border-b border-gray-300">Talla</p>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="tallaMin" inputId="tallaMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="tallaMin">Min.</label>
          </p-iftalabel>
        </div>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="tallaMax" inputId="tallaMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="tallaMax">Max.</label>
          </p-iftalabel>
        </div>
      </div>
      <!-- Rango CC -->
      <div formGroupName="rangoCC" class="grid sm:col-span-2 md:col-span-1 lg:col-span-2 gap-3">
        <p class="col-span-2 text-sm text-gray-500 mb-1 text-center border-b border-gray-300">Circunferencia de la Cintura</p>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="ccMin" inputId="ccMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="ccMin">Min.</label>
          </p-iftalabel>
        </div>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="ccMax" inputId="ccMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="ccMax">Max.</label>
          </p-iftalabel>
        </div>
      </div>
      <!-- Rango Peso -->
      <div formGroupName="rangoPeso" class="grid sm:col-span-2 md:col-span-1 lg:col-span-2 gap-3">
        <p class="col-span-2 text-sm text-gray-500 mb-1 text-center border-b border-gray-300">Peso (kg)</p>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="pesoMin" inputId="pesoMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="pesoMin">Min.</label>
          </p-iftalabel>
        </div>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="pesoMax" inputId="pesoMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="pesoMax">Max.</label>
          </p-iftalabel>
        </div>
      </div>
      <!-- Rango Percentil de talla (pct) -->
      <div formGroupName="rangoPct" class="grid sm:col-span-2 md:col-span-1 lg:col-span-2 gap-3">
        <p class="col-span-2 text-sm text-gray-500 mb-1 text-center border-b border-gray-300">Percentil de Talla</p>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="pctMin" inputId="pctMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="pctMin">Min.</label>
          </p-iftalabel>
        </div>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="pctMax" inputId="pctMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="pctMax">Max.</label>
          </p-iftalabel>
        </div>
      </div>
      <!-- Rango Tension Arterial Sistolica (tas) -->
      <div formGroupName="rangoTas" class="grid sm:col-span-2 md:col-span-1 lg:col-span-2 gap-3">
        <p class="col-span-2 text-sm text-gray-500 mb-1 text-center border-b border-gray-300">Tension Arterial Sistolica</p>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="tasMin" inputId="tasMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="tasMin">Min.</label>
          </p-iftalabel>
        </div>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="tasMax" inputId="tasMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="tasMax">Max.</label>
          </p-iftalabel>
        </div>
      </div>
      <!-- Rango Tension Arterial Diastolica (tad) Min -->
      <div formGroupName="rangoTad" class="grid sm:col-span-2 md:col-span-1 lg:col-span-2 gap-3">
        <p class="col-span-2 text-sm text-gray-500 mb-1 text-center border-b border-gray-300">Tension Arterial Diastolica</p>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="tadMin" inputId="tadMin" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="tadMin">Min.</label>
          </p-iftalabel>
        </div>
        <div>
          <p-iftalabel>
            <p-inputnumber formControlName="tadMax" inputId="tadMax" pKeyFilter="num" mode="decimal" [maxFractionDigits]="2" [min]="0" class="w-full h-16" [locale]="'es'" />
            <label for="tadMax">Max.</label>
          </p-iftalabel>
        </div>
      </div>
    </div>
    <div *ngIf="especificas.get('rangoTalla')?.errors" class="text-red-600 text-sm">Rango inválido.</div>
    <div *ngIf="especificas.get('rangoCC')?.errors" class="text-red-600 text-sm">Rango inválido.</div>
    <div *ngIf="especificas.get('rangoPeso')?.errors" class="text-red-600 text-sm">Rango inválido.</div>
    <div *ngIf="especificas.get('rangoPct')?.errors" class="text-red-600 text-sm">Rango inválido.</div>
    <div *ngIf="especificas.get('rangoTas')?.errors" class="text-red-600 text-sm">Rango inválido.</div>
    <div *ngIf="especificas.get('rangoTad')?.errors" class="text-red-600 text-sm">Rango inválido.</div>
  </div>
  <!-- <p class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">Condiciones:</p> -->
  <!-- Antecedentes perinatales -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="antecedentes_perinatal" formControlName="antecedentes_perinatal" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="antecedentes_perinatal">Antecedentes perinatales</label>
    </p-iftalabel>
  </div>
  <!-- Enfermedades previas -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="enfermedades_previas" formControlName="enfermedades_previas" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="enfermedades_previas">Enfermedades previas</label>
    </p-iftalabel>
  </div>
  <!-- Vacunas -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="vacunasOptions" formControlName="vacunas" idInput="vacunas" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="vacunas">Vacunas</label>
    </p-iftalabel>
  </div>
  <!-- Examen visual -->
  <div class="mcol-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="examenVisualOptions" formControlName="examen_visual" idInput="examen_visual" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="examen_visual">Examen Visual</label>
    </p-iftalabel>
  </div>
  <!-- Lenguaje -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="lenguajeOptions" formControlName="lenguaje" idInput="lenguaje" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="lenguaje">Lenguaje</label>
    </p-iftalabel>
  </div>
  <!-- Ortopedia y traumatologia -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="ortopediaTraumatologiaOptions" formControlName="ortopedia_traumatologia" idInput="ortopedia_traumatologia" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="ortopedia_traumatologia">Ortopedia y Traumatologia</label>
    </p-iftalabel>
  </div>
  <!-- Alimentacion -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="alimentacionOptions" formControlName="alimentacion" idInput="alimentacion" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="alimentacion">Alimentación</label>
    </p-iftalabel>
  </div>
  <!-- Hidratacion -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="hidratacionOptions" formControlName="hidratacion" idInput="hidratacion" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="hidratacion">Hidratación</label>
    </p-iftalabel>
  </div>
  <!-- Estado nutricional -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="estadoNutricionalOptions" formControlName="estado_nutricional" idInput="estado_nutricional" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="estado_nutricional">Estado nutricional</label>
    </p-iftalabel>
  </div>
  <!-- Tension arterial -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="tensionArterialOptions" formControlName="tension_arterial" idInput="tension_arterial" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="tension_arterial">Tension arterial</label>
    </p-iftalabel>
  </div>
  <!-- Derivaciones -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-multiselect [options]="derivacionesOptionsClinica" [formControl]="controlDeInput('derivaciones')" [maxSelectedLabels]="3" optionLabel="nombre" optionValue="valor" display="chip" styleClass="w-full h-16" [filter]="false" [showHeader]="false" />
      <label for="derivaciones">Derivaciones</label>
    </p-iftalabel>
  </div>
  <!-- Seguimiento -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="segto" formControlName="segto" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="segto">Seguimiento</label>
    </p-iftalabel>
  </div>
  <p class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">Antecedentes familiares:</p>
  <!-- Diabetes -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="diabetes" formControlName="diabetes" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="diabetes">Diabetes</label>
    </p-iftalabel>
  </div>
  <!-- Obesidad -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="obesidad" formControlName="obesidad" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="obesidad">Obesidad</label>
    </p-iftalabel>
  </div>
  <!-- HTA -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="hta" formControlName="hta" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="hta">Hipertension arterial</label>
    </p-iftalabel>
  </div>
  <!-- Consumo Alcohol -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="consumo_alcohol" formControlName="consumo_alcohol" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="consumo_alcohol">Consumo alcohol</label>
    </p-iftalabel>
  </div>
  <!-- Consumo Drogas -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="consumo_drogas" formControlName="consumo_drogas" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="consumo_drogas">Consumo drogas</label>
    </p-iftalabel>
  </div>
  <!-- Consumo Tabaco -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="siNoOptions" idInput="consumo_tabaco" formControlName="consumo_tabaco" [checkmark]="true" optionLabel="nombre" optionValue="valor" [showClear]="true" class="w-full h-16" />
      <label for="consumo_tabaco">Consumo tabaco</label>
    </p-iftalabel>
  </div>

  <!-- <span class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">****</span> -->
  <p class="col-span-2 sm:col-span-4 md:col-span-6 lg:col-span-8">Horas diarias dedicadas a:</p>
  <!-- Horas pantalla -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="horasPantallaOptions" formControlName="horas_pantalla" idInput="horas_pantalla" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="horas_pantalla">Pantalla</label>
    </p-iftalabel>
  </div>
  <!-- Horas juego aire libre -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="horasJuegoAireLibreOptions" formControlName="horas_juego_aire_libre" idInput="horas_juego_aire_libre" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="horas_juego_aire_libre">Juego aire libre</label>
    </p-iftalabel>
  </div>
  <!-- Horas sueño -->
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2">
    <p-iftalabel>
      <p-select [options]="horasSuenioOptions" formControlName="horas_suenio" idInput="horas_suenio" [checkmark]="true" [showClear]="true" placeholder="" class="w-full h-16" />
      <label for="horas_suenio">Sueño</label>
    </p-iftalabel>
  </div>
</div>
