<div class="card">
  <div class="card-header">Consultas cargadas en el sistema</div>
  <div class="card-body">
    <!-- <input (keyup)="applyFilter($event)" placeholder="Buscar por Dni" #input type="number" id="filtro"
      class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      required /> -->
    <div class="scroll">
      <table mat-table [dataSource]="consultas" class="mat-elevation-z8 table-auto scroll" matSort (matSortChange)="announceSortChange($event)">
        <!-- # -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <!-- Tipo -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <!-- Fecha -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at | date: 'dd-MM-yyyy' }}</td>
        </ng-container>
        <!-- Edad -->
        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef>Edad</th>
          <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
        </ng-container>
        <!-- Obra social -->
        <ng-container matColumnDef="obra_social">
          <th mat-header-cell *matHeaderCellDef>Obra Social</th>
          <td mat-cell *matCellDef="let element">{{ element.obra_social ? 'Sí' : 'No' }}</td>
        </ng-container>
        <!-- Chico -->
        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.chico.nombre + ' ' + element.chico.apellido }}</td>
        </ng-container>
        <!-- Dni -->
        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let element">{{ element.chico.dni }}</td>
        </ng-container>
        <!-- Fecha Nac. -->
        <ng-container matColumnDef="fechaNac">
          <th mat-header-cell *matHeaderCellDef>Fecha Nac.</th>
          <td mat-cell *matCellDef="let element">{{ element.chico.fe_nacimiento | date: 'dd-MM-yyyy' }}</td>
        </ng-container>
        <!-- Sexo -->
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef>Sexo</th>
          <td mat-cell *matCellDef="let element">{{ element.chico.sexo === "Masculino" ? "M" : "F" }}</td>
        </ng-container>
        <!-- Direccion -->
        <ng-container matColumnDef="direccionChico">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let element">{{ element.chico.direccion }}</td>
        </ng-container>
        <!-- Telefono -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{ element.chico.telefono }}</td>
        </ng-container>
        <!-- Derivaciones -->
        <ng-container matColumnDef="derivaciones">
          <th mat-header-cell *matHeaderCellDef>Derivaciones</th>
          <td mat-cell *matCellDef="let element">
            @if (element.derivaciones !== null){
            @if (element.derivaciones.externa) {
            {{ "Externa" }}
            } @if (element.derivaciones.odontologia) {
            {{ 'Odontologia' }}
            } @if (element.derivaciones.fonoaudiologia) {
            {{ 'Fonoaudiologia' }}
            } @if (element.derivaciones.oftalmologia) {
            {{ 'Oftalmologia' }}
            }
            } @else {
            {{'Ninguna'}}
            }
          </td>
        </ng-container>
        <!-- Institucion -->
        <ng-container matColumnDef="institucion">
          <th mat-header-cell *matHeaderCellDef>Institucion</th>
          <td mat-cell *matCellDef="let element">{{ element.institucion.tipo +" "+ element.institucion.nombre}}</td>
        </ng-container>
        <!-- Curso -->
        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef>Curso</th>
          <td mat-cell *matCellDef="let element">{{ element.curso.nombre }}</td>
        </ng-container>
        <!-- Nombre profesional -->
        <ng-container matColumnDef="profesional">
          <th mat-header-cell *matHeaderCellDef>Profesional</th>
          <td mat-cell *matCellDef="let element">{{ element.usuario.nombre +" "+ element.usuario.apellido }}</td>
        </ng-container>
        <!-- Documento profesional
        <ng-container matColumnDef="documentoProfesional">
          <th mat-header-cell *matHeaderCellDef>Documento profesional</th>
          <td mat-cell *matCellDef="let element">{{ element.usuario.dni }}</td>
        </ng-container> -->
        <!-- Observaciones -->
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef>Observaciones</th>
          <td mat-cell *matCellDef="let element">{{ element.observaciones ? element.observaciones : '-' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-300"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center font-bold text-blue-800 text-xl" [attr.colspan]="displayedColumns.length">
            @if (searching) {
            <app-loading />
            }
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>
</div>
