<div class="flex justify-center">
  <button class="hover:scale-125 border p-1 m-2 px-2 rounded disabled:text-gray-400" (click)="cambiarGrid(1)" [disabled]="deshabilitarSegunTamanio(1)"><i class="fa fa-square"></i></button>
  <button class="hover:scale-125 border py-1 px-2 rounded m-2 disabled:text-gray-400" (click)="cambiarGrid(2)" [disabled]="deshabilitarSegunTamanio(2)"><i class="fa fa-th-large"></i></button>
  <button class="hover:scale-125 border p-1 px-2 rounded m-2 disabled:text-gray-400" (click)="cambiarGrid(3)" [disabled]="deshabilitarSegunTamanio(3)"><i class="fa fa-th"></i></button>
</div>
