<div class="card">
  <span class="card-header">Cargar una nueva consulta de fonoaudiologia</span>
  <div class="card-body">
    <form (ngSubmit)="enviarFormulario()" [formGroup]="fonoaudiologiaForm">
      <app-campos-comunes [form]="fonoaudiologiaForm" />
      <!-- Campos fonoaudiologia -->
      <div class="grid gap-6 md:grid-cols-6">
        <!-- Diagnostico Presuntivo -->
        <div class="mt-4 col-span-2">
          <app-input-text label="Diagnostico Presuntivo" [control]="controlDeInput('diagnosticoPresuntivo')"
            placeholder="" idInput="diagnosticoPresuntivo" />
        </div>
        <!-- Causas -->
        <div class="mt-4 col-span-2">
          <app-input-text label="Causas" [control]="controlDeInput('causas')" placeholder="" idInput="causas" />
        </div>
        <!-- Asistencia -->
        <div class="mt-4 col-span-2">
          <!-- <app-input-checkbox (change)="onChangeCheckbox($event)" label="Asistencia"
            [control]="controlDeInput('asistencia')" idInput="asistencia" /> -->
          <label for="asistencia" class="block mb-2 text-sm font-medium text-gray-900">¿Asistió?</label>
          <select formControlName="asistencia" id="asistencia"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
          <div
            *ngIf="fonoaudiologiaForm.get('asistencia')?.errors && (fonoaudiologiaForm.get('asistencia')?.dirty || fonoaudiologiaForm.get('asistencia')?.touched)"
            class="text-red-600 text-sm">
            <div *ngIf="fonoaudiologiaForm.get('asistencia')?.errors?.['required']">Debe seleccionar una opción.</div>
          </div>
        </div>
        <!-- Observaciones -->
        <div class="col-span-6">
          <app-input-textarea label="Observaciones" [control]="controlDeInput('observaciones')" placeholder=""
            idInput="observaciones" />
        </div>
      </div>
      <!-- Enviar -->
      <div class="flex mt-4">
        <button type="submit" [disabled]="!fonoaudiologiaForm.valid"
          class="flex my-auto ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center -700 -800 disabled:bg-gray-400">Agregar
        </button>
      </div>
    </form>
  </div>
</div>
